<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title></title>
</head>
<body>

<form action="/bbs/postsadd/" method="POST">
    
    {{ form.as_table }}
    <p>author:{{ request.session.username }}</p>
	<br />

	<input type="submit" value="submit" />
	
</form>

</body>
</html>
