<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>topic management</title>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.css">	
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css">	
	
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>  

</head>
<body>
<div class='span12'>
    <p align='center'><b>my bbs</b></p><hr />
</div>

<div class="span12">
    <span class="btn-info ">topic management</span>
<hr />
<span class="label label-info">user</span>&nbsp;{{ request.session.username }}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/"><button class="label label-info">Home</button></a>
<br />
<br />


{% if posts %}
	{% for post in posts_list.object_list %}
		{% if request.session.email == post.user.email  %}
		<pre>	
    		title<a href='/bbs/cnhei/{{ post.id }}'>{{ post.title }}</a>
    		author{{ post.user.username }}
    		comment{{ post.details|safe}}
    		<br />
    		<a href='/bbs/postsdel/{{post.id}}'>delete</a>
        </pre>
    	{% endif %}	
	{% endfor %}
{% else %}
	<pre><span>there is no topic</span></pre>
	<hr />
{% endif %}


<div class='span2' >
    {% if has_previous %}
    	<a href="/?page={{ previous }}">previous page</a>
    {% endif %}
    
    {% if has_next %}
    	<a href="/?page={{ next }}"></a>
    {% endif %}
    
    {% if posts_list.has_previous %}
    	<a href="?page={{ posts_list.previous_page_number }}" title="next page">previos page</a>&nbsp;
    {% endif %}
    
    {% for p in page_range %}
    	{% ifequal p posts_list.number %}
    		<span>{{ p }}  </span>
    	{% else %}
    		<a href="?page={{ p }}" title="{{ p }}">{{ p }}</a>
    	{% endifequal %}
    {% endfor %}
    
    &nbsp;
    
    {% if posts_list.has_next %}
    	<a href="?page={{ posts_list.next_page_number }}" title="next page">previos page</a>&nbsp;
    {% endif %}
</div>

</body>
</html>
