<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>register</title>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.css">	
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css">	
	
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    
</head>

<body>

<div class='span12'>
    <p align='center'><b>my bbs</b></p><hr />
</div>


<div class="span12">
    <div class="span12">
        <span class="label label-info">Please register</span>&nbsp;&nbsp;
        <span ><a href='/'>Home</a></span>
        <hr class="span11"  />
    </div>  
    <div class=" form-horizontal">
        <form action='/bbs/register/' method='POST'>
            
            <div class="control-group">    
                <label class="control-label" for="id_username">username</label>     
                        {{ form.username }}   
            </div>
            
            <div class="control-group">    
                <label class="control-label" for="id_email">email</label>         
                        {{ form.email }}
            </div>
            
            <div class="control-group">    
                <label class="control-label" for="id_password1">password</label>
                        {{ form.password1 }}
            </div>
            
            <div class="control-group">    
                <label class="control-label" for="id_password2">confirm</label>
                        {{ form.password2 }}
            </div>
            <div class="span10 form-actions">
        	   <input class="btn btn-success" type="submit" value="submit">
        	   <a href="/"><input class="btn btn-warning" type="button" value="cancle"></a>
        	</div>
        </form>
    </div>
</div>


</body>
</html>
